<div class="modal-header">
    <h3 class="panel-title">
        <span class="fa fa-user-md"></span>
        Create a new Examiner
    </h3>
</div>
<form name="form" class="modal-body">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control"
               name="name" type="text" autocapitalize="on"
               ng-model="data.name" />

        <div class="errors"
             ng-messages="form.name.$error"
             ng-if="form.name.$invalid">
            <div ng-message="not-null">please enter a name</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Identifier</label>
        <input class="form-control"
               name="identifier"
               ng-model="data.identifier" />
        <div class="errors"
             ng-messages="form.name.$errors"
             ng-if="form.identifier.$invalid">
            <div ng-message="not-null">please enter an identifier</div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <div class="form-group clearfix">
        <span class="pull-right">
            <a class="btn btn-default"
               ng-click="cancel()">
                Cancel
            </a>
            <button class="btn btn-primary" type="submit"
                    ng-disabled="!data"
                    ng-click="create(form, data)">
                Create
            </button>
        </span>
    </div>
</div>