<div id="breadcrumb" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div id="page-home" class="container">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/patients/">Patients</a></li>
        </ol>
    </div>
</div>

<div id="page-patients-index" class="container">

    <div patients-list="patients">List of Patients</div>

</div>