<div id="page-home" class="page-content container">

    <ol class="breadcrumb row">
        <li><a href="#/">Home</a></li>
        <li><a href="#/examinations/">Examinations</a></li>
        <li><a href="#/examinations/edit">Edit</a></li>
    </ol>

    <form name="form" class="form" novalidate>
        <h3>
            <span class="fa fa-clipboard"></span>
            Edit Examination
        </h3>

        <div class="examination-row">
            <div class="form-group">
                <label class="control-label">Date and Time</label>
                <div class="input-group">
                    <input class="form-control" placeholder="(date of examination)"
                           datepicker-popup="medium" is-open="opened"
                           name="takenOn"
                           ng-model="data.takenOn"
                           ng-required="true" />
                    <span class="input-group-btn">
                        <a href class="btn btn-default" ng-click="opened=true">
                            <span class="fa fa-calendar"></span>
                        </a>
                    </span>
                </div>

                <div class="errors"
                     ng-messages="form.takenOn.$errors"
                     ng-if="form.takenOn.$invalid">
                    <div ng-message="range">please enter a date</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Patient</label>
                <div patients-select
                     name="patient"
                     ng-model="data.patient"></div>

                <div class="errors"
                     ng-messages="form.patient.$errors"
                     ng-if="form.patient.$invalid">
                    <div ng-message="exists">please choose a patient</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Examiner</label>
                <div examiners-select
                     name="examiner"
                     ng-model="data.examiner"></div>

                <div class="errors"
                     ng-messages="form.examiner.$error"
                     ng-if="form.examiner.$invalid">
                    <div ng-message="exists">please choose an examiner</div>
                </div>
            </div>
        </div>
        <div class="examination-row">
            <div class="examination-scores-canvas">

            </div>
            <div class="examination-regions">
                <div tabset justified="true" class="tabs">
                    <div tab heading="Head and Neck">
                        <div examination-region-score
                             ng-model="data.headNeck"></div>
                    </div>
                    <div tab heading="Trunk">
                        <div examination-region-score
                             ng-model="data.trunk"></div>
                    </div>
                    <div tab heading="Upper Extremities">
                        <div examination-region-score
                             ng-model="data.upperExtremities"></div>
                    </div>
                    <div tab heading="Lower Extremities">
                        <div examination-region-score
                             ng-model="data.lowerExtremities"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="examination-row">
            <div class="form-group">
                <label class="control-label">Notes</label>
                <textarea class="form-control"
                          name="notes" rows="10"
                          ng-model="data.notes"></textarea>
            </div>
        </div>
        <div class="examination-row">
            <div class="form-group">
                <span class="pull-right">
                    <button class="btn btn-primary"
                            ng-click="update()">
                        Update
                    </button>
                </span>
                <button class="btn btn-warning" type="button"
                        a-confirm="delete()"
                        a-confirm-ok="Delete"
                        a-confirm-message="Delete the patient '{{data.person.name}}'?">
                    Delete
                </button>
            </div>
        </div>
    </form>

</div>