.examination-eric {
    margin: 0 auto;
    width: 220px;
    overflow: visible;

    svg {
        padding:10px;
        .head,
        .trunk,
        .legs,
        .arms {
            fill: transparent;
            stroke: #666;
            stroke-dasharray: 4,4;
        }

        .active{
            stroke: #333;
            stroke-dasharray: none;

        }
    }
}
