<form name="clinicianSelectForm" class="navbar-form navbar-right">
    <div class="input-group"
         ng-disabled="!clinicians">
        <div class="input-group-addon">
            <span class="fa fa-user-md"></span>
        </div>
        <input class="form-control" placeholder="(clinician)"
               ng-model="clinician"
               ng-model-options="{debounce:500}"
               typeahead="i as i.name for i in get($viewValue) | filter:$viewValue | limitTo:8" />
        <div class="input-group-btn">
            <a href="#/clinicians/{{clinician.id}}/edit" class="btn btn-default"
               ng-disabled="!clinician">
                <span class="fa fa-pencil"></span>
            </a>
            <a href="#/clinicians/create" class="btn btn-default">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
</form>