<div id="breadcrumb" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/patients/">Patients</a></li>
            <li><a href="#/patients/{{data.id}}/edit">Edit</a></li>
        </ol>
    </div>
</div>

<div id="page-patients-edit" class="page-content container">

    <form name="form">
        <div class="form-icon">
            <span class="fa fa-user"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Name</label>
            <input class="form-control"
                   name="name"
                   ng-model="data.person.name" />

            <div class="errors"
                 ng-messages="form.name.$error"
                 ng-if="form.name.$invalid">
                <div ng-message="not-null">please enter a name</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Identifier</label>
            <input class="form-control"
                   name="identifier"
                   ng-model="data.identifier" />
            <div class="errors"
                 ng-messages="form.name.$errors"
                 ng-if="form.identifier.$invalid">
                <div ng-message="not-null">please enter an identifier</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Date of Birth</label>
            <div a-datetime format="mediumDate"
                 name="dateOfBirth"
                 ng-model="data.dateOfBirth"></div>
            <div class="errors"
                 ng-messages="form.dateOfBirth.$errors"
                 ng-if="form.dateOfBirth.$invalid">
                <div ng-message="not-null">please enter a date of birth</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Gender</label>
            <div>
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="data.gender" btn-radio="0">Male</label>
                    <label class="btn btn-default" ng-model="data.gender" btn-radio="1">Female</label>
                </div>
            </div>
            <div class="errors"
                 ng-messages="form.gender.$errors"
                 ng-if="form.gender.$invalid">
                <div ng-message="not-null">please choose a gender</div>
            </div>
        </div>
        <div class="form-group">
            <span class="pull-right">
                <button class="btn btn-primary"
                        ng-click="update()">
                    Update
                </button>
            </span>
            <button class="btn btn-warning" type="button"
                    a-confirm="delete()"
                    a-confirm-ok="Delete"
                    a-confirm-message="Delete the patient '{{data.person.name}}'?">
                Delete
            </button>
        </div>
    </form>

</div>