<div id="page-home" class="page-content container">

    <ol class="breadcrumb row">
        <li><a href="#/">Home</a></li>
        <li><a href="#/clinicians/">Clinicians</a></li>
    </ol>
    
    <div clinicians-list="clinicians">List of Clinicians</div>

</div>