<div class="modal-header">
    <h3 class="panel-title">
        <span class="fa fa-plus"></span>
        <span class="fa fa-user"></span>
    </h3>
</div>
<form name="form" class="modal-body">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control"
               name="name" type="text" autocapitalize="on"
               ng-model="data.name" />

        <div class="errors"
             ng-messages="form.name.$error"
             ng-if="form.name.$invalid">
            <div ng-message="not-null">please enter a name</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Identifier</label>
        <input class="form-control"
               name="identifier"
               ng-model="data.identifier" />
        <div class="errors"
             ng-messages="form.identifier.$errors"
             ng-if="form.identifier.$invalid">
            <div ng-message="not-null">please enter an identifier</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Date of Birth</label>
        <div a-datetime format="mediumDate"
             name="dateOfBirth"
             ng-model="data.dateOfBirth"></div>
        <div class="errors"
             ng-messages="form.dateOfBirth.$errors"
             ng-if="form.dateOfBirth.$invalid">
            <div ng-message="not-null">please enter a date of birth</div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Gender</label>
        <div>
            <div class="btn-group">
                <label class="btn btn-default" ng-model="data.gender" btn-radio="0">Male</label>
                <label class="btn btn-default" ng-model="data.gender" btn-radio="1">Female</label>
            </div>
        </div>
        <div class="errors"
             ng-messages="form.gender.$errors"
             ng-if="form.gender.$invalid">
            <div ng-message="not-null">please choose a gender</div>
        </div>
    </div>
</form>
<div class="modal-footer">
    <div class="form-group clearfix">
        <span class="pull-right">
            <a class="btn btn-default"
               ng-click="cancel()">
                Cancel
            </a>
            <button class="btn btn-primary" type="submit"
                    ng-disabled="!data"
                    ng-click="create(form, data)">
                Create
            </button>
        </span>
    </div>
</div>