@import (reference) "../bootstrap.less";

.form {
    max-width: 400px;
    margin: 0 auto;
}

.errors {
    color: @state-danger-text;
}

.ng-submitted .ng-invalid {
    border-color: @state-danger-border;
}
