<div>
    <div class="input-group">
        <input class="form-control" placeholder="(search)"
               ng-model="examinerId"
               ng-model-options="{debounce:500}"
               typeahead="i.id as i.name for i in get($viewValue) | filter:$viewValue | limitTo:8"
               typeahead-input-formatter="format($model)" />
        <div class="input-group-btn">
            <a href="#/examiners/{{examinerId}}/edit" class="btn btn-default"
               ng-disabled="!examinerId">
                <span class="fa fa-pencil"></span>
            </a>
            <a href="#/examiners/create" class="btn btn-default">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
</div>