<form name="searchBox" class="navbar-form navbar-right">
    <div class="input-group">
        <input class="form-control" placeholder="(search)"
               ng-model="text"
               ng-model-options="{debounce:500}"
               ng-change="search(text)"
               ui-keypress="{13:'search(text)'}"
               a-clear-button />
        <div class="input-group-btn">
            <a href="" class="btn btn-primary"
               ng-click="search(text)">
                <span class="fa fa-search"></span>
            </a>
        </div>
    </div>
</form>