<div class="examination-severity-score btn-group btn-group-justified">
    <label class="btn btn-default" ng-model="model" btn-radio="0">None</label>
    <label class="btn btn-default" ng-model="model" btn-radio="1">Mild</label>
    <label class="btn btn-default" ng-model="model" btn-radio="2">Moderate</label>
    <label class="btn btn-default" ng-model="model" btn-radio="3">Severe</label>
</div>
