<div class="examination-region-score">
    <div class="row">
        <label class="control-label small col-md-3">Erthema</label>
        <div class="col-md-9">
            <div examination-severity-score
                 ng-model="model.erthema"></div>
        </div>
    </div>
    <div class="row">
        <label class="control-label small col-md-3">Edema Papulation</label>
        <div class="col-md-9">
            <div examination-severity-score
                 ng-model="model.edemaPapulation"></div>
        </div>
    </div>
    <div class="row">
        <label class="control-label small col-md-3">Excoriation</label>
        <div class="col-md-9">
            <div examination-severity-score
                 ng-model="model.excoriation"></div>
        </div>
    </div>
    <div class="row">
        <label class="control-label small col-md-3">Lichenification</label>
        <div class="col-md-9">
            <div examination-severity-score
                 ng-model="model.lichenification"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label small">Area</label>
        <div class="btn-group btn-group-justified">
            <label class="btn btn-default" ng-model="model.area" btn-radio="0" uncheckable>0%</label>
            <label class="btn btn-default" ng-model="model.area" btn-radio="1" uncheckable>9%</label>
            <label class="btn btn-default" ng-model="model.area" btn-radio="2" uncheckable>29%</label>
            <label class="btn btn-default" ng-model="model.area" btn-radio="3" uncheckable>49%</label>
            <label class="btn btn-default" ng-model="model.area" btn-radio="4" uncheckable>69%</label>
            <label class="btn btn-default" ng-model="model.area" btn-radio="5" uncheckable>89%</label>
            <label class="btn btn-default" ng-model="model.area" btn-radio="6" uncheckable>100%</label>
        </div>
    </div>
</div>