<div id="breadcrumb" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/examiners/">Examiners</a></li>
        </ol>
    </div>
</div>

<div id="page-examiners-index" class="container">
    
    <div examiners-list="examiners">List of Examiners</div>

</div>