<div class="examinations-list-item" cell-layout-cell>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <a class="editButton btn btn-default"
                   href="#/examinations/{{::item.id}}/edit">
                    <span class="fa fa-pencil"></span>
                </a>
            </div>
            <h4 class="panel-title">
                <span class="fa fa-clipboard"></span>
                {{item | examinationTitle}}
            </h4>
        </div>
        <div class="panel-body">
            <div examination-eric
                 ng-model="eric"
                 class="examination-eric"></div>
            
            <div class="examinations-list-item-details">
                <div class="row">
                    <label class="col-sm-4">Patient</label>
                    <span class="col-sm-8">{{item.patient | patientName}}</span>
                </div>
                <div class="row">
                    <label class="col-sm-4">Examiner</label>
                    <span class="col-sm-8">{{item.examiner | examinerName}}</span>
                </div>
            </div>
        </div>
    </div>
</div>