<div class="examinations-list-item" cell-layout-cell>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <a class="editButton btn btn-default"
                   ui-sref="examinations-edit({id:model.id})">
                    <span class="fa fa-ellipsis-h"></span>
                </a>
            </div>
            <h4 class="panel-title">
                <span class="fa fa-clipboard"></span>
                {{model | examinationTitle}}
            </h4>
        </div>
        <div class="panel-body">
            <a ui-sref="examinations-edit({id:model.id})">
                <span examination-eric
                     ng-model="eric"
                     class="examination-eric"></span>
            </a>

            <div class="examinations-list-item-details">
                <label>Patient</label>
                <a ui-sref="patients-edit({id:model.patient.id})">{{model.patient | patientName}}</a>
                <label>Examiner</label>
                <a ui-sref="examiners-edit({id:model.examiner.id})">{{model.examiner | examinerName}}</a>
                <label>Notes</label>
                <div ng-bind-html="model.notes | textToHtml"></div>
            </div>
        </div>
    </div>
</div>