<div class="patients-list-item" cell-layout-cell>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <a class="editButton btn btn-default"
                   href="#/patients/{{::model.id}}/edit>
                    <span class="fa fa-ellipsis-h"></span>
                </a>
            </div>
            <h4 class="panel-title">
                <span class="fa fa-user"></span>
                {{model | patientName}}
            </h4>
        </div>
        <div class="panel-body">
            <p>
                {{model.gender===0?'Male':'Female'}}
                {{model | personAge}}
            </p>
            <p>
                <label>Date of Birth</label>
                <span>{{model.dateOfBirth | mediumDate}}</span>
            </p>
        </div>
    </div>

</div>