<div class="examiners-list-item" cell-layout-cell>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group">
                <a class="editButton btn btn-default"
                   href="#/examiners/{{::item.id}}/edit">
                    <span class="fa fa-pencil"></span>
                </a>
            </div>
            <h4 class="panel-title">
                <span class="fa fa-user-md"></span>
                {{item | examinerName}}
            </h4>
        </div>
        <div class="panel-body">

        </div>
    </div>

</div>