<div id="breadcrumb" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
        </ol>
    </div>
</div>

<div id="page-home" class="container">

    <div class="home">
        <div class="calendar" antix-calendar selected="selectedDate"
             ng-class="{active:isActive}"
             ng-click="isActive=!isActive"></div>

        <div class="calendar-entries">

            <div class="list-group">
                <a href="#/examinations/" class="list-group-item">
                    <span class="fa fa-clipboard"></span>
                    Examinations
                </a>
                <a href="#/examiners/" class="list-group-item">
                    <span class="fa fa-user-md"></span>
                    Examiners
                </a>
                <a href="#/patients/" class="list-group-item">
                    <span class="fa fa-user"></span>
                    Patients
                </a>
            </div>

            <h4 class="title">{{searchTitle}}</h4>
            <div class="">
                <div examinations-list="examinations">List of Examinations</div>
            </div>
        </div>
    </div>
</div>