@import (reference) "../../Content/bootstrap.variables.less";
@import (reference) "../../Content/bootstrap/mixins.less";
@import (reference) "../../Content/site/variables.less";

#page-home .home {

    .calendar {
        float:left;
    }

    .calendar-entries {
        position:fixed;
        margin-left:320px;
    }
}
