@import (reference) "../../Content/bootstrap.variables.less";
@import (reference) "../../Content/bootstrap/mixins.less";
@import (reference) "../../Content/site/variables.less";

#page-home .home {

    .calendar {
        float: left;
    }

    .calendar-entries {
        position: fixed;
        padding-left: 320px;
        padding-right: 15px;

        @media (min-width: @screen-sm-min) {
            width: @container-sm;
        }

        @media (min-width: @screen-md-min) {
            width: @container-md;
        }

        @media (min-width: @screen-lg-min) {
            width: @container-lg;
        }
    }

    @media (max-width: @screen-xs-max) {
        .calendar {
            position: relative;
            z-index: 1;
            background-color: @page-body-color;
            margin-left:-296px;
            box-shadow:0 0 5px rgba(0,0,0,.2);
        }

        .calendar.active{
            margin-left:-10px;
        }

        .calendar-entries {
            padding-left: 30px;
            padding-right: 30px;
            width: 100%;
            z-index: 0;
        }
    }
}
