<div id="page-home" class="page-content container">

    <ol class="breadcrumb row">
        <li><a href="#/">Home</a></li>
    </ol>
    
    <p>
        <a href="#/examiners/">
            <span class="fa fa-user-md"></span>
            Examiners
        </a>
    </p>
    <p>
        <a href="#/patients/">
            <span class="fa fa-user"></span>
            Patients
        </a>
    </p>
</div>