<div id="page-home" class="page-content container">

    <ol class="breadcrumb row">
        <li><a href="#/">Home</a></li>
    </ol>
    
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/examinations/">
                <span class="fa fa-clipboard"></span>
                Examinations
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/examiners/">
                <span class="fa fa-user-md"></span>
                Examiners
            </a>
        </li>
        <li class="list-group-item">
            <a href="#/patients/">
                <span class="fa fa-user"></span>
                Patients
            </a>
        </li>
    </ul>
</div>