<div id="page-home" class="page-content container">

    <ol class="breadcrumb row">
        <li><a href="#/">Home</a></li>
        <li><a href="#/examinations/">Examination</a></li>
    </ol>
    
    <div examinations-list="examinations">List of Examinations</div>

</div>