<div id="breadcrumb" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#/">Home</a></li>
            <li><a href="#/examinations/">Examinations</a></li>
        </ol>
    </div>
</div>
<div id="page-examinations-index" class="container">
    
    <div examinations-list="model.items">List of Examinations</div>

</div>